[submodule "verifier_circuit/o1js"]
	path = verifier_circuit/o1js
	url = https://github.com/lambdaclass/o1js.git
	branch = verifier_bn254
[submodule "eth_verifier/lib/forge-std"]
	path = eth_verifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/lib/forge-std"]
	path = contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/lib/aligned_layer"]
	path = contract/lib/aligned_layer
	url = https://github.com/lambdaclass/aligned_layer
[submodule "app/eth_contract/lib/forge-std"]
	path = app/eth_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "example/eth_contract/lib/forge-std"]
	path = example/eth_contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
