name: CI Rust package
on:
  workflow_call:
    inputs:
      directory:
        required: true
        type: string
      skip_run:
        required: false
        type: boolean
        default: false
      monorepo:
        required: false
        type: boolean
        default: false

jobs:
  check:
    name: Check, fmt, clippy, test and run
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${{inputs.directory}}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install rust stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2
      
      - name: Clone Mina monorepo
        if: ${{ inputs.monorepo }}
        run: sh ../evm_bridge/scripts/preinstall.sh

      - name: Run cargo check
        run: cargo check --workspace

      - name: Run rustfmt
        run: cargo fmt --all --check

      - name: Run clippy
        run: cargo clippy --workspace --all-targets -- -D warnings

      - name: Run nextest
        run: cargo nextest run --workspace --all-targets --no-fail-fast

      - name: Run binary
        if: ${{ !inputs.skip_run }}
        run: cargo run
